<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- The default language for the app's localized strings -->
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>

    <!-- The name of the executable for the application -->
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <!-- The icon file for the application (empty if not specified) -->
    <key>CFBundleIconFile</key>
    <string></string>

    <!-- The unique identifier for the application bundle -->
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <!-- The version of the Info.plist format -->
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <!-- The display name of the application -->
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>

    <!-- The type of package (APPL indicates an application) -->
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <!-- The short version string for the application -->
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <!-- The version number of the application -->
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- The minimum system version required to run the application -->
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>

    <!-- Human-readable copyright information -->
    <key>NSHumanReadableCopyright</key>
    <string>$(PRODUCT_COPYRIGHT)</string>

    <!-- The main nib file for the application interface -->
    <key>NSMainNibFile</key>
    <string>MainMenu</string>

    <!-- The principal class for the application -->
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
